<div class="col-md-12">

  <div class="well">
    <div class="media-left">
      <img class="media-object" ng-src="{{$ctrl.post.image_url}}">
    </div>
    <div class="media-body">
      <a ui-sref="edit({id: $ctrl.post.id})">edit</a>
      <h4 class="media-heading">
        {{$ctrl.post.title}}
        |
        <a><i class="glyphicon glyphicon-arrow-up" ng-click="$ctrl.upVote(post)"></i></a>
        <a><i class="glyphicon glyphicon-arrow-down"  ng-click="$ctrl.downVote(post)"></i></a>
        {{$ctrl.post.vote_count}}
      </h4>
      <div class="text-right">
        {{$ctrl.post.author}}
      </div>
      <p>
        {{$ctrl.post.body}}
      </p>
      <div>
        |
        <i class="glyphicon glyphicon-comment"></i>
        <a ng-click="$ctrl.showComments(post)">
          {{$ctrl.post.comments.length}} Comments
        </a>
      </div>
      <div class="row" ng-if="$ctrl.show">
        <div class="col-md-offset-1">
          <hr>
          <p ng-repeat="message in $ctrl.post.comments">
            {{message.content}} {{message.created_at | date:short}}
          </p>
          <form class="form-inline" ng-submit="$ctrl.createComment(message); message=''">
            <div class="form-group">
              <input class="form-control" ng-model="message">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
